<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python: обработка файлов, строк и запросов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Лабораторная 3</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"> Python: обработка файлов, строк и запросов</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form method="post">
                {% csrf_token %}
<div class="input-group mb-3">
    {{form}}
  <button class="btn btn-outline-secondary" type="submit" id="btn">Добавить</button>

</div>
            </form>
    </div>
  </div>
</div>

</body>
</html>